* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Kaushan Script";
  src: local("Kaushan Script"), local("KaushanScript-Regular.woff2"),
    url("../fonts/KaushanScript-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway Regular"), local("Raleway-Regular.woff2"),
    url("../fonts/Raleway-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway SemiBold"), local("Raleway-SemiBold.woff2"),
    url("../fonts/Raleway-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway Medium"), local("Raleway-Medium.woff2"),
    url("../fonts/Raleway-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway Medium Italic"), local("Raleway-MediumItalic.woff2"),
    url("../fonts/Raleway-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway Bold"), local("Raleway-Bold.woff2"),
    url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway Black"), local("Raleway-Black.woff2"),
    url("../fonts/Raleway-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Bold"), local("Montserrat-Bold.woff2"),
    url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.container {
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
  left: 0;
  right: 0;
}

h1 {
  max-width: 848px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 144px;
  line-height: 176px;
  color: #fff;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 120px;
}

h1::after {
  display: block;
  content: "";
  width: 25%;
  height: 4px;
  background-color: #fff;
  margin-top: 58px;
  transform: translateX(calc(100% * 4 / 2 - 50%));
}

h2 {
  width: fit-content;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  margin: 0 auto;
  text-transform: uppercase;
  color: #2d3033;
}

h2::after {
  display: block;
  content: "";
  width: 50%;
  margin: 44px 0;
  height: 4px;
  background-color: #f38281;
  transform: translateX(50%);
}

h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #2d3033;
}

h4 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #2d3033;
}

p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #2d3033;
}

.kaushan-script {
  font-family: "Kaushan Script";
  font-size: 30px;
  color: #2d3033;
  padding: 60px 0 38px 0;
}

.central-block {
  text-align: center;
  margin-bottom: 60px;
}

.grey-background {
  background-color: #f8f8f8;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

@media (max-width: 1024px) {
  h1 {
    margin-bottom: 95px;
  }

  h2 {
    font-size: 24px;
    line-height: 28px;
  }

  p {
    font-size: 14px;
    line-height: 16px;
  }

  h3 {
    font-size: 18px;
    line-height: 21px;
  }

  h4 {
    font-size: 14px;
    line-height: 16px;
  }

  .kaushan-script {
    padding-bottom: 22px;
  }
}

@media (max-width: 768px) {
  .central-block {
    margin-bottom: 46px;
  }
}

/* header */

header a:link {
  text-decoration: none;
  color: #fff;
}

header a:visited {
  text-decoration: none;
  color: #fff;
}

header a:focus {
  text-decoration: none;
  color: #f4bf87;
}

header a:hover {
  color: #f4bf87;
  transition-duration: 0.3s;
}

header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

nav li::after {
  content: "";
  width: 0;
  margin: 4px 0;
  height: 1px;
  background-color: #f4bf87;
  opacity: 0;
  display: block;
  transform: translateX(-10%);
}

li:hover::after {
  width: 140%;
  display: block;
  opacity: 1;
  transform: translateX(-15%);
  transition-duration: 0.3s;
  color: #f4bf87;
}

header ul {
  display: flex;
  justify-content: space-evenly;
}

nav {
  flex-grow: 2;
  margin: 38px 0;
  text-align: center;
  align-self: center;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper__icon li {
  flex-grow: 1;
  padding: 18px;
  align-self: center;
}

.wrapper__icon li:last-child {
  display: none;
}

.logo {
  flex-grow: 4;
  text-align: start;
  padding: 0 18px;
  align-self: center;
}

.logo img {
  width: 97.64px;
  height: 26.1px;
}

.wrapper__icon img {
  width: 24px;
  height: 24px;
}

@media (max-width: 768px) {
  .wrapper__icon li:last-child {
    display: block;
  }

  .wrapper__icon li:first-child {
    display: none;
  }

  .wrapper__icon li:nth-child(2) {
    display: none;
  }

  nav {
    display: none;
  }
}

/* section 1 (main) */

section:first-child {
  background-image: url(../images/main-background.png);
  background-size: cover;
}

section:first-child .first-section__central-block {
  text-align: center;
  padding-top: 174px;
  margin-bottom: 210px;
}

section:first-child .first-section__kaushan-script {
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 93px;
  color: #fff;
}

.learn-more {
  border: 4px solid #fff;
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 22px 108px;
}

.learn-more:link {
  text-decoration: none;
  color: #fff;
}

.learn-more:visited {
  text-decoration: none;
  color: #fff;
}

.learn-more:hover {
  color: #e4be8d;
  background-color: #ffffff;
}

.learn-more:active {
  background: #ffffff;
  border: 4px solid #e4be8d;
}

.numbered-blocks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.numbered-blocks p {
  text-align: left;
}

.numbered-blocks__numbered-item {
  flex: 1;
  color: #fff;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.numbered-blocks__numbered-item::before {
  display: block;
  content: "";
  width: calc(100% - 30px);
  height: 4px;
  background: linear-gradient(
    90deg,
    rgba(243, 130, 129, 1) 0%,
    rgba(243, 130, 129, 1) 0%,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  margin-bottom: 20px;
}

.numbered-blocks__numbered-item:hover::before {
  display: block;
  content: "";
  background: linear-gradient(
    90deg,
    rgba(243, 130, 129, 1) 0%,
    rgba(243, 130, 129, 1) 25%,
    rgba(255, 255, 255, 1) 25%,
    rgba(255, 255, 255, 1) 100%
  );
}

.numbered-blocks__numbered-item p {
  color: #fff;
}

.numbered-blocks__numbered-item span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}

@media (max-width: 1024px) {
  section:first-child {
    background-image: url(../images/tablet/background-1.png);
  }

  section:first-child .first-section__central-block {
    padding-top: 120px;
    margin-bottom: 210px;
  }

  section:first-child .first-section__kaushan-script {
    font-size: 48px;
    line-height: 70px;
  }

  h1 {
    font-size: 96px;
    line-height: 117px;
  }

  .learn-more {
    padding: 16px 100px;
  }

  .numbered-blocks__numbered-item::before {
    margin-bottom: 15px;
  }

  .numbered-blocks__numbered-item span {
    font-size: 24px;
    line-height: 28px;
  }

  .numbered-blocks__numbered-item p {
    font-size: 14px;
    line-height: 16px;
  }

  .numbered-blocks__numbered-item {
    margin-bottom: 14px;
  }
}

@media (max-width: 768px) {
  section:first-child .first-section__kaushan-script {
    font-size: 36px;
    line-height: 52px;
    margin-bottom: 46px;
  }

  h1 {
    font-size: 48px;
    line-height: 59px;
    margin-bottom: 133px;
  }

  .kaushan-script {
    font-size: 24px;
    line-height: 35px;
  }

  .learn-more {
    display: inline-block;
    width: 100%;
    padding: 16px 0;
    font-size: 18px;
    line-height: 21px;
  }

  section:first-child .first-section__central-block {
    margin-bottom: 70px;
  }

  .numbered-blocks {
    gap: 20px;
  }

  section:first-child .numbered-blocks__numbered-item::before {
    width: 100%;
  }

  section:first-child .numbered-blocks__numbered-item p {
    display: none;
  }

  .numbered-blocks__numbered-item:hover::before {
    display: block;
    content: "";
    background: linear-gradient(
      90deg,
      rgba(243, 130, 129, 1) 0%,
      rgba(243, 130, 129, 1) 100%
    );
  }
}

/* section 2 */

.super-team-block {
  display: flex;
  margin: 96px 0;
  justify-content: space-evenly;
  gap: 9px;
}

.super-team-block__item {
  position: relative;
  display: flex;
  flex-direction: column;
}

.super-team-block__item picture {
  display: flex;
}

.super-team-block__item img {
  max-width: 100%;
  max-height: 100%;
}

.super-team-block__item::before {
  display: block;
  content: "";
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #95e1d3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}

.square-gradient {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    360deg,
    rgba(237, 215, 137, 0.9) 0%,
    rgba(233, 130, 131, 0.9) 100%
  );

  top: 0;
  left: 0;
  transition-delay: 0.5s;
  transition: 0.3s;
}

.super-team-block__item:hover::before {
  opacity: 1;
}

.super-team-block__item:hover .square-gradient {
  opacity: 1;
  transition-delay: 0.15s;
  top: -16px;
  left: -16px;
}

.hover-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.hover-content p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  text-transform: uppercase;
}

.green-background {
  background-color: #95e1d3;
}

.green-row {
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.green-row div {
  flex-grow: 1;
  padding: 64px 0;
  border: 1px solid #fff;
}

.green-row span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
}

.green-row p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
}

@media (max-width: 1024px) {
  .green-row div {
    padding: 34px 0;
  }

  .green-row span {
    font-size: 48px;
    line-height: 56px;
  }

  .green-row p {
    font-size: 18px;
    line-height: 21px;
  }
}

@media (max-width: 1024px) {
  .super-team-block {
    margin: 48px 0;
  }

  .super-team-block__item:hover .square-gradient {
    top: -6px;
    left: -6px;
  }

  .hover-content p {
    font-size: 18px;
    line-height: 21px;
  }
}

@media (max-width: 768px) {
  .super-team-block {
    flex-wrap: wrap;
  }

  .super-team-block__item picture {
    display: flex;
  }

  .square-gradient {
    height: 30%;
  }

  .super-team-block__item::before {
    display: none;
  }

  .super-team-block__item:hover .square-gradient {
    top: 70%;
    left: 0;
  }

  .hover-content {
    flex-direction: row;
  }

  .green-row div {
    border: none;
    border-bottom: 1px solid #fff;
  }
}

/* section 3 */

.amazing-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 90px;
}

.amazing-services__item {
  flex: 1;
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.amazing-services__item img {
  vertical-align: top;
}

.amazing-services__item div {
  margin: 0 0 0 35px;
}

.amazing-services__item h3 {
  margin: 0 0 35px 0;
}

.margin-140px {
  margin-bottom: 140px;
}

.margin-90px {
  margin-bottom: 90px;
}

@media (max-width: 1024px) {
  .amazing-services__item div {
    margin: 0 0 0 25px;
  }

  .margin-140px {
    margin-bottom: 70px;
  }

  .amazing-services {
    gap: 70px;
  }

  .amazing-services__item h3 {
    margin: 0 0 25px 0;
  }

  .margin-90px {
    margin-bottom: 90px;
  }
}

/* section 4 */

.what-we-do {
  margin: 90px auto 114px auto;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.drop-down {
  text-align: left;
  flex-shrink: 1;
}

.drop-down__block__title {
  border: solid 1px #c6cbcd;
  display: flex;
  justify-content: space-between;
}

.drop-down__block__title img {
  margin: 18px 25px;
}

.drop-down__block__title button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.drop-down__block__title h3 {
  text-align: left;
  align-self: center;
  flex-grow: 1;
}

.drop-down p {
  padding: 22px 85px 22px 22px;
  border: solid 1px #c6cbcd;
  max-height: 164px;
  overflow: auto;
}

.drop-down__block {
  margin-bottom: 22px;
}

@media (max-width: 1024px) {
  .drop-down__block__title img {
    margin: 20px 18px;
  }
}

@media (max-width: 768px) {
  .what-we-do {
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 30px;
  }

  .what-we-do picture > img {
    width: 100%;
  }

  .drop-down__block__title h3 {
    font-size: 14px;
    line-height: 16px;
  }

  .drop-down p {
    padding: 22px 76px 22px 22px;
  }
}

/* section 5 */

section:nth-of-type(5) {
  background-image: url(../images/unique-design-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 868px;
  margin-left: auto;
  margin-right: auto;
}

section:nth-of-type(5) .container {
  position: relative;
}

.mockups {
  top: 286px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

@media (max-width: 1024px) {
  section:nth-of-type(5) {
    background-image: url(../images/tablet/background-2.png);
    height: 588px;
  }

  h2::after {
    margin-top: 30px;
  }

  .mockups {
    top: 194px;
  }
}

@media (max-width: 768px) {
  section:nth-of-type(5) {
    background-image: url(../images/mobile/background-2.png);
    height: 432px;
  }
}

/* section 6 */

.grey-background {
  background-color: #f8f8f8;
}

.review-block > img {
  max-width: 170px;
  max-height: 170px;
  align-self: center;
}

.review-block {
  display: flex;
  padding: 42px;
  margin-bottom: 84px;
}

.quote > button {
  border: none;
  background-color: rgba(100, 100, 100, 0);
  margin: 80px 0;
  display: inline-block;
}

.quote {
  display: flex;
  justify-content: space-between;
}

.name p::before {
  content: "";
  display: block;
  width: 70px;
  height: 4px;
  background-color: #f38281;
  transform: translate(-126px, 24px);
}

.quote div {
  text-align: left;
}

.name {
  display: flex;
}

.name p {
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  align-self: center;
  margin-left: 156px;
}

.message > p {
  margin: 42px 0 20px 30px;
  font-family: "Raleway";
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #a9afb1;
}

.message::after {
  position: absolute;
}

.mobile-carousel {
  display: none;
}

.mobile-carousel button {
  width: 10px;
  height: 10px;
  border: 1px solid #c6cbcd;
  border-radius: 50%;
}

@media (max-width: 1024px) {
  .message > p {
    font-size: 18px;
    line-height: 21px;
  }
  .name p {
    font-size: 24px;
    line-height: 35px;
  }
}

@media (max-width: 768px) {
  .review-block > img {
    display: none;
  }

  .quote {
    display: flex;
    flex-wrap: wrap;
  }

  .quote > button {
    display: none;
  }

  .review-block {
    padding: 0;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 25px;
  }

  .message > p {
    padding: 30px 0 0 0;
    margin: 0 0 18px 0;
  }

  .name p {
    margin-left: 100px;
  }

  .name p::before {
    transform: translate(-100px, 24px);
  }

  .mobile-carousel {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .mobile-carousel button {
    background-color: #c6cbcd00;
    border-color: #c6cbcd;
  }

  .mobile-carousel button:hover {
    background-color: #c6cbcd;
  }

  .quote {
    padding-bottom: 28px;
  }
}

/* section 7 */

.team {
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 15px;
  margin: 80px 0;
}

.team-block img {
  max-width: 100%;
  max-height: 100%;
}

.team-block-portrait {
  position: relative;
  display: flex;
}

.team-block-portrait picture {
  display: flex;
}

.team-block-portrait a {
  display: flex;
  flex-direction: column;
}

.social-hover {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social-hover ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-hover li {
  align-self: center;
}

.social-hover li:hover svg > rect {
  fill: #f38281;
}

.social-hover li:hover svg > path {
  fill: #fff;
}

.team-block-portrait:hover .square {
  opacity: 1;
}

.team-block-portrait:hover .square-gradient {
  opacity: 1;
  transition-delay: 0.15s;
  top: -16px;
  left: -16px;
}

.team-block h3 {
  margin-top: 26px;
  margin-bottom: 26px;
}

.team-block p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .team-block-portrait:hover .square-gradient {
    top: -6px;
    left: -6px;
  }
  .team-block h3 {
    font-size: 18px;
    line-height: 21px;
  }
  .team-block p {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 768px) {
  .team {
    flex-wrap: wrap;
  }

  .team-block-portrait picture {
    display: flex;
  }

  .square-gradient {
    top: 100%;
    overflow: hidden;
  }

  .team-block-portrait:hover .square-gradient {
    top: 70%;
    left: 0;
  }

  .social-hover {
    align-self: flex-end;
    justify-content: flex-end;
  }

  .social-hover ul {
    align-self: flex-end;
    justify-content: flex-end;
  }

  .team-block .square-gradient {
    background: linear-gradient(
      360deg,
      rgba(237, 215, 137, 0) 0%,
      rgba(233, 130, 131, 0) 0%
    );
  }

  .team-block .square-gradient {
    left: 0%;
    top: 100%;
  }
}

/* section 8 */

.customers {
  display: flex;
  justify-content: space-between;
  gap: 73px;
}

.customers img {
  margin: 72px 0;
}

@media (max-width: 768px) {
  .customers {
    flex-wrap: wrap;
    justify-content: center;
  }

  .customers div:nth-child(3) {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .customers div:nth-child(6) {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .customers img {
    margin: 0;
  }

  .customers {
    padding: 50px 0;
  }
}

/* section 9 */

section:nth-of-type(10) .central-block {
  margin-bottom: 70px;
}

.gallery-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "a b c d"
    "e f c g";
}

.gallery-grid__item:nth-child(1) {
  grid-area: a;
}

.gallery-grid__item:nth-child(2) {
  grid-area: b;
}

.gallery-grid__item:nth-child(3) {
  grid-area: c;
}

.gallery-grid__item:nth-child(4) {
  grid-area: d;
}

.gallery-grid__item:nth-child(5) {
  grid-area: e;
}

.gallery-grid__item:nth-child(6) {
  grid-area: f;
}

.gallery-grid__item:nth-child(7) {
  grid-area: g;
}

.gallery-grid__item > img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.gallery-grid__item {
  position: relative;
  display: flex;
}

.gallery-grid__item img {
  max-width: 100%;
  max-height: 100%;
}

section:nth-of-type(10) {
  margin-bottom: 84px;
}

.square-gradient__grid {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    360deg,
    rgba(237, 215, 137, 0.9) 0%,
    rgba(233, 130, 131, 0.9) 100%
  );

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-delay: 0.5s;
  transition: 0.3s;
}

.gallery-grid__item:hover .square-gradient__grid {
  opacity: 1;
}

.hover-content p:nth-child(2) {
  margin-bottom: 10px;
}

.hover-content p:nth-child(3) {
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-transform: none;
}

.hover-content img {
  margin-bottom: 57px;
}

@media (max-width: 1024px) {
  .hover-content p:nth-child(3) {
    font-size: 14px;
    line-height: 16px;
  }
  .hover-content img {
    margin-bottom: 38px;
  }
}

@media (max-width: 768px) {
  .gallery-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 158px 158px 158px 158px 158px;
    grid-template-areas:
      "a c"
      "e c"
      "g c"
      "d b"
      "f f";
  }

  .hover-content {
    justify-content: left;
  }

  .hover-content img {
    margin: 0 14px;
    align-self: center;
  }

  .hover-content p {
    margin: 0 18px;
  }

  .hover-content p:nth-child(2) {
    margin: 0;
  }

  .gallery-grid .hover-content {
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .gallery-grid .hover-content p:nth-child(2) {
    margin-bottom: 8px;
  }
}

/* section 10 */

/* section 11 */

/* section 12 */

section:nth-of-type(12) {
  background-image: url(/images/happy_clients_background.png);
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

section:nth-of-type(12) .kaushan-script {
  padding-top: 42px;
}

.clients {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 114px;
}

.client-block {
  flex: 1;
  display: flex;
}

.client-block p:first-of-type::after {
  content: "";
  display: block;
  width: 50%;
  height: 4px;
  background-color: #f38281;
  margin-top: 38px;
}

.client-block img {
  max-width: 130px;
  max-height: 130px;
}

.client-block > div {
  display: inline-block;
}

.client-block h3 {
  margin: 0 0 0 38px;
  text-align: left;
}

.client-block p:nth-of-type(1) {
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}

.client-block p {
  width: fit-content;
  text-align: left;
  margin: 32px 0 32px 38px;
}

@media (max-width: 1024px) {
  .clients {
    gap: 88px;
  }

  section:nth-of-type(12) {
    background-image: url(../images/tablet/background-3.png);
  }
}

@media (max-width: 768px) {
  .clients {
    gap: 40px;
    padding-bottom: 40px;
  }
  .client-block {
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
  }

  .client-block img {
    margin-bottom: 20px;
  }

  .client-block p {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .client-block h3 {
    text-align: center;
    margin: 6px 0;
  }

  .client-block p:first-of-type::after {
    position: absolute;
    margin: 22px 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .client-block p:nth-of-type(1) {
    margin-bottom: 44px;
  }
}

/* section 13 */

.latest-blog {
  margin-bottom: 84px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.latest-blog-image {
  position: relative;
}

.latest-blog-image img {
  max-width: 100%;
  max-height: 100%;
}

.latest-blog-image div {
  max-width: 80px;
  position: absolute;
  left: -8px;
  bottom: 25px;
  padding: 10px 20px;
  background-color: #95e1d3;
  text-align: center;
  color: #ffffff;
}

.latest-blog-image div > p {
  color: #ffffff;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.latest-blog-image .big-number {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 30px;
}

.latest-blog article {
  text-align: left;
}

.latest-blog article > img {
  margin-bottom: 30px;
}

.latest-blog article h3 {
  margin-bottom: 12px;
}

.latest-blog article > p {
  margin: 0 0 20px 0;
}

.likes-comments button {
  display: inline-block;
  background-color: rgba(100, 100, 100, 0);
  border: none;
  padding: 0 46px 0 0;
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
}

.likes-comments button > img {
  padding: 0 16px 0 0;
  vertical-align: middle;
}

@media (max-width: 1024px) {
  .likes-comments button {
    font-size: 12px;
    line-height: 14px;
  }

  .latest-blog-image div {
    bottom: 21px;
  }
}

@media (max-width: 768px) {
  .latest-blog {
    flex-wrap: wrap;
  }

  .latest-blog-image div {
    left: 0;
  }

  .latest-blog-image .big-number {
    font-size: 24px;
    line-height: 20px;
  }

  .latest-blog-image div > p {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }
}

/* section 14 */

.latest-blog-small {
  background-image: url(../images/latest_blog_small_background.png);
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  margin-bottom: 78px;
}

.latest-blog-small img {
  padding: 42px 0 21px 0;
}

.latest-blog-small .divider {
  margin-bottom: 42px;
}

.latest-blog-small h2 {
  color: #f38281;
  padding-bottom: 44px;
}

@media (max-width: 1024px) {
  .latest-blog-small {
    background-image: url(../images/tablet/background-4.png);
  }
}

/* footer */

footer .wrapper {
  display: flex;
  margin-bottom: 42px;
  gap: 30px;
}
.footer-main-block {
  flex: 3;
  position: relative;
}

.footer-main-block p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #c6cbcd;
}

.footer-main-block > img {
  margin-bottom: 26px;
}

.footer-main-block > p {
  margin: 0 0 35px 0;
}

.followers {
  display: flex;
  font-family: "Raleway";
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #2d3033;
  margin-bottom: 35px;
}

.followers p {
  font-family: "Raleway";
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #2d3033;
}

.followers-count {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 30px;
}

.thousand {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #2d3033;
}

.social-media {
  display: flex;
  justify-content: space-between;
  margin-bottom: 46px;
}

.social-media img {
  max-width: 18px;
  max-height: 18px;
}

.social-media::before {
  position: absolute;
  display: block;
  content: "";
  height: 1px;
  width: 100%;
  background-color: #c6cbcd;
}

.social-media ul {
  display: flex;
  margin: 10px 0;
  gap: 5px;
}

.social-media p {
  width: fit-content;
  display: inline-block;
  font-family: "Raleway";
  font-style: italic;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #c6cbcd;
  vertical-align: top;
  margin: 10px 5px;
}

.social-media ul {
  display: flex;
  margin: 10px;
}

.form {
  display: flex;
}

.footer-main-block button {
  padding: 16px;
  background-color: #95e1d3;
  border: none;
  margin: 0;
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-main-block input {
  padding: 14px;
  border: 1px solid #c6cbcd;
  text-align: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #c6cbcd;
}

.footer-main-block label {
  display: none;
}

.blogs {
  vertical-align: top;
  flex: 3;
}

.blog-post {
  margin-bottom: 20px;
  display: flex;
  gap: 30px;
}

.blogs h3 {
  margin: 0 0 36px 0;
}

.blog-post h4 {
  margin-bottom: 14px;
}

.instagram {
  flex: 2;
}

.instagram h3 {
  margin-bottom: 36px;
}
.instagram-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-bottom: 38px;
}

.instagram-grid picture {
  display: flex;
  justify-content: center;
}

.instagram-grid img {
  width: 100%;
  height: 100%;
}

.instagram a {
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: underline;
}

.instagram a:visited {
  color: #2d3033;
}

.instagram a {
  color: #2d3033;
}

.copyright p {
  text-align: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.copyright p::before {
  margin-bottom: 18px;
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #c6cbcd;
}

@media (max-width: 1024px) {
  footer .wrapper {
    gap: 18px;
  }
}

@media (max-width: 768px) {
  footer .wrapper {
    flex-wrap: wrap;
  }

  .footer-main-block {
    text-align: center;
  }

  .followers {
    justify-content: center;
  }

  .social-media p {
    font-size: 12px;
    line-height: 14px;
  }

  .social-media > p {
    margin: 0;
  }

  .social-media ul {
    margin: 6px 0;
    gap: 5px;
  }

  .footer-main-block p {
    text-align: center;
  }

  .form {
    flex-direction: column;
  }

  .footer-main-block input {
    margin-bottom: 24px;
    text-align: left;
  }

  .blog-post {
    gap: 14px;
  }

  .instagram-grid picture {
    display: flex;
  }
}
