* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Kaushan Script";
  src: local("Kaushan Script"), local("KaushanScript-Regular.woff2"),
    url("../fonts/KaushanScript-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway Regular"), local("Raleway-Regular.woff2"),
    url("../fonts/Raleway-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway SemiBold"), local("Raleway-SemiBold.woff2"),
    url("../fonts/Raleway-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway Medium"), local("Raleway-Medium.woff2"),
    url("../fonts/Raleway-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway Medium Italic"), local("Raleway-MediumItalic.woff2"),
    url("../fonts/Raleway-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway Bold"), local("Raleway-Bold.woff2"),
    url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway Black"), local("Raleway-Black.woff2"),
    url("../fonts/Raleway-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Bold"), local("Montserrat-Bold.woff2"),
    url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.container {
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}

h1 {
  max-width: 848px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 144px;
  line-height: 176px;
  color: #fff;
  text-transform: uppercase;
  margin: 0 auto;
}

h1::after {
  display: block;
  content: "";
  width: 25%;
  height: 4px;
  background-color: #fff;
  margin: 58px 0;
  transform: translateX(calc(100% * 4 / 2 - 50%));
}

h2 {
  width: fit-content;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  margin: 0 auto;
  padding: 0 0 48px 0;
  text-transform: uppercase;
  color: #2d3033;
}

h2::after {
  display: block;
  content: "";
  width: 50%;
  margin: 44px 0 0;
  height: 4px;
  background-color: #f38281;
  transform: translateX(50%);
}

h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #2d3033;
}

h4 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #2d3033;
}

p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #2d3033;
}

.kaushan-script {
  font-family: "Kaushan Script";
  font-size: 30px;
  color: #2d3033;
  padding: 60px 0 48px 0;
}

.central-block {
  text-align: center;
}

.grey-background {
  background-color: #f8f8f8;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* header */

header a:link {
  text-decoration: none;
  color: #fff;
}

header a:visited {
  text-decoration: none;
  color: #fff;
}

header a:focus {
  text-decoration: none;
  color: #f4bf87;
}

header a:hover {
  color: #f4bf87;
  transition-duration: 0.3s;
}

header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  /* width: 100%; */
}

nav li::after {
  content: "";
  width: 0;
  margin: 4px 0;
  height: 1px;
  background-color: #f4bf87;
  opacity: 0;
  display: block;
  transform: translateX(-10%);
}

li:hover::after {
  width: 140%;
  display: block;
  opacity: 1;
  transform: translateX(-15%);
  transition-duration: 0.3s;
  color: #f4bf87;
}

header ul {
  display: flex;
}

nav li {
  margin: 38px;
  text-align: center;
  align-self: center;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: ;
}

.wrapper__icon li {
  padding: 18px;
  align-self: center;
}

.logo {
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.logo img {
  width: 97.64px;
  height: 26.1px;
}

.wrapper__icon img {
  width: 24px;
  height: 24px;
}

/* main section */

section:first-child {
  background-image: url(../images/main-background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

section:first-child .first-section__central-block {
  padding: 177px 0 116px 0;
  text-align: center;
}

section:first-child .first-section__kaushan-script {
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 93px;
  color: #fff;
}

.learn-more {
  width: 370px;
  height: 80px;
  border: 4px solid #fff;
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 22px;
}

.learn-more a:link {
  text-decoration: none;
  color: #fff;
}

.learn-more a:visited {
  text-decoration: none;
  color: #fff;
}

.numbered-blocks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.numbered-blocks p {
  text-align: left;
}

.numbered-blocks__numbered-item {
  flex: 1;
  color: #fff;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.numbered-blocks__numbered-item::before {
  display: block;
  content: "";
  width: calc(100% - 30px);
  height: 4px;
  background-color: #fff;
  margin-bottom: 20px;
}

.numbered-blocks__numbered-item p {
  color: #fff;
}

.numbered-blocks__numbered-item span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}

/* section 1 */

.super-team-block {
  display: flex;
  flex-wrap: wrap;
  margin: 96px 0;
  justify-content: space-evenly;
  gap: 9px;
}

.super-team-block__item {
  position: relative;
  display: flex;
}

.super-team-block__item::before {
  display: block;
  content: "";
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #95e1d3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}

.square-gradient {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    360deg,
    rgba(237, 215, 137, 0.9) 0%,
    rgba(233, 130, 131, 0.9) 100%
  );

  top: 50%;
  left: 50%;
  transform: translate(-55%, -55%);
  transition-delay: 0.5s;
  transition: 0.3s;
}

.super-team-block__item:hover::before {
  opacity: 1;
}

.super-team-block__item:hover .square-gradient {
  opacity: 1;
  transition-delay: 0.15s;
}

.hover-content {
  text-align: center;
}

.hover-content img {
  margin: 129px 0 30px 0;
}

.hover-content p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  text-transform: uppercase;
}

.green-background {
  background-color: #95e1d3;
}

.green-row {
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.green-row div {
  flex-grow: 1;
  padding: 64px 0;
  border: 1px solid #fff;
}

.green-row span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
}

.green-row p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
}

/* section 2 */

.amazing-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 90px 0;
}

.amazing-services__item {
  display: flex;
  justify-content: space-between;
  flex-basis: 370px;
}

.amazing-services__item img {
  vertical-align: top;
}

.amazing-services__item div {
  margin: 0 0 0 30px;
}

.amazing-services-block h3 {
  margin: 0 0 30px 0;
}

.margin-140px {
  margin-bottom: 140px;
}

.margin-90px {
  margin-bottom: 90px;
}

/* section 4 */

.what-we-do {
  margin: 90px auto 114px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.what-we-do > img {
  margin-bottom: 15px;
}

.drop-down {
  text-align: left;
  flex-shrink: 1;
  flex-basis: 570px;
}

.drop-down__block__title {
  border: solid 1px #c6cbcd;
  display: flex;
  justify-content: space-between;
}

.drop-down__block__title img {
  margin: 18px 25px;
}

.drop-down__block__title button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.drop-down__block__title h3 {
  text-align: left;
  align-self: center;
  flex-grow: 1;
}

.drop-down p {
  padding: 22px 85px 22px 22px;
  border: solid 1px #c6cbcd;
  max-height: 164px;
  overflow: auto;
}

.drop-down__block {
  margin-bottom: 22px;
}
/* section 5 */

section:nth-of-type(5) {
  background-image: url(../images/unique-design-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

section:nth-of-type(5) .container {
  position: relative;
}

section:nth-of-type(5) img {
  padding-bottom: 40px;
}

.absolute-phone {
  top: 498px;
  left: 770px;
  position: absolute;
}

/* section 6 */

.grey-background {
  background-color: #f8f8f8;
}

.review-block > img {
  max-width: 170px;
  max-height: 170px;
  align-self: center;
}

.review-block {
  display: flex;
  padding: 42px;
  margin-bottom: 84px;
}

.quote button {
  border: none;
  background-color: rgba(100, 100, 100, 0);
  margin: 80px 0;
  display: inline-block;
}

.quote {
  display: flex;
  justify-content: space-between;
}

.name p::before {
  content: "";
  display: block;
  width: 70px;
  height: 4px;
  background-color: #f38281;
  transform: translate(-126px, 24px);
}

.quote div {
  text-align: left;
}

.name {
  display: flex;
}

.name p {
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  align-self: center;
  margin-left: 156px;
}

.message > p {
  margin: 42px 0 20px 30px;
  font-family: "Raleway";
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #a9afb1;
}

/* section 7 */

.team {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}

.team-block {
  margin: 80px 0;
}

.team-block-portrait {
  position: relative;
}

.social-hover ul {
  display: flex;
  margin: 200px 0;
  justify-content: center;
}

.social-hover li {
  align-self: center;
}

.team-block-portrait:hover .square {
  opacity: 1;
}

.team-block-portrait:hover .square-gradient {
  opacity: 1;
  transition-delay: 0.15s;
}

.team-block h3 {
  margin-top: 26px;
  margin-bottom: 26px;
}

.team-block p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}

/* section 8 */

.customers {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 73px;
}

.customers img {
  margin: 72px 0;
}

/* section 9 */

section:nth-of-type(10) {
  margin-bottom: 84px;
}

/* section 10 */

/* section 11 */

/* section 12 */

section:nth-of-type(12) {
  background-image: url(/images/happy_clients_background.png);
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

section:nth-of-type(12) .kaushan-script {
  padding-top: 42px;
}

.clients {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 42px;
}

.client-block {
  flex-basis: 550px;
  display: flex;
}

.client-block p:first-of-type::after {
  content: "";
  display: block;
  width: 50%;
  height: 4px;
  background-color: #f38281;
  transform: translate(24px);
  margin-top: 38px;
}

.client-block img {
  max-width: 130px;
  max-height: 130px;
}

.client-block > div {
  display: inline-block;
}

.client-block h3 {
  margin: 0 0 0 38px;
  text-align: left;
}

.client-block p:nth-of-type(1) {
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}

.client-block p {
  width: fit-content;
  text-align: left;
  margin: 32px 0 32px 38px;
}

/* section 13 */

.latest-blog {
  margin-bottom: 84px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.latest-blog-image {
  position: relative;
}

.latest-blog-image div {
  max-width: 80px;
  position: absolute;
  top: 55%;
  left: -8px;
  padding: 6px 20px;
  background-color: #95e1d3;
  text-align: center;
  color: #ffffff;
}

.latest-blog-image div > p {
  color: #ffffff;
}

article {
  text-align: left;
  flex-basis: 370px;
}

article > img {
  margin-bottom: 30px;
}

article h3 {
  margin-bottom: 12px;
}

.latest-blog article > p {
  margin: 0 0 20px 0;
}

.likes-comments button {
  display: inline-block;
  background-color: rgba(100, 100, 100, 0);
  border: none;
  padding: 0 46px 0 0;
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
}

.likes-comments button > img {
  padding: 0 16px 0 0;
  vertical-align: middle;
}

/* section 14 */

.latest-blog-small {
  background-image: url(../images/latest_blog_small_background.png);
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.latest-blog-small img {
  padding: 42px 0 21px 0;
}

.latest-blog-small .divider {
  margin-bottom: 42px;
}

.latest-blog-small h2 {
  color: #f38281;
}

/* footer */

footer {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.footer-main-block {
  margin-top: 78px;
  margin-bottom: 42px;
  display: inline-block;
  vertical-align: top;
}

.footer-main-block img {
  margin-bottom: 26px;
}

.footer-main-block p {
  width: 370px;
  margin: 0 0 35px 0;
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #c6cbcd;
}

.followers-count {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 30px;
  color: #2d3033;
}

.thousand {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #2d3033;
}

.footer-main-block .followers {
  display: inline-block;
  font-family: "Raleway";
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #2d3033;
}

.grey-divider {
  height: 1px;
  width: 370px;
  background-color: #c6cbcd;
}

.social-media {
  margin-bottom: 46px;
}

.social-media p {
  width: fit-content;
  display: inline-block;
  font-family: "Raleway";
  font-style: italic;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #c6cbcd;
  vertical-align: top;
  margin: 10px 5px;
}

.social-media img {
  display: inline-block;
  margin: 5px;
}

.blogs {
  display: inline-block;
  vertical-align: top;
  margin-top: 78px;
}

.blog-post {
  margin-bottom: 20px;
}

.blogs h3 {
  margin: 0 0 36px 0;
}
.blog-post img {
  display: inline-block;
}

.blog-post-text {
  display: inline-block;
  width: 270px;
  vertical-align: top;
  margin: 0 0 0 30px;
}

.blog-post h4 {
  margin-bottom: 14px;
}
